
<div *ngIf="messageData == undefined">Brak wybranej wiadomości</div>
<div *ngIf="detailedMessage != undefined" class="p-grid p-flex-column">
  <div class="p-col">
    <div class="box">
      <span><button pButton type="button" icon="pi pi-caret-left" label="Wstecz" class="p-button-text p-button-success" (click)="backClick()"></button></span>
      <span><button pButton type="button" icon="{{pinnedButtonIcon}}" label="{{pinnedButtonText}}" class="p-button-text p-button-success" (click)="changePinned(detailedMessage.pinned)"></button></span>
      <span><button pButton type="button" icon="pi pi-flag" label="Zmień kategorię" class="p-button-text p-button-success"></button></span>
      <span><button pButton type="button" icon="pi pi-reply" label="Odpowiedz" class="p-button-text p-button-success" (click)="OpenLink('reply')"></button></span>
    </div>
  </div>
  <div class="p-col">
    <div class="replyEditor">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
  <div class="p-col">
    <div class="box">
      <span class="messageTitle">{{detailedMessage.header}}</span>
    </div>
  </div>
  <div class="p-col">
    <div class="box">
      Właściciel: <span class="owner">{{detailedMessage.owner.personName}}</span>
    </div>
  </div>
  <div class="p-col">
    <div class="box">
      DO: <span class="toPersons" *ngFor="let person of detailedMessage.toPersons">{{person.personName}}; </span>
    </div>
  </div>
  <div class="p-col">
    <div class="box">
      DW: <span class="dwPersons" *ngFor="let person of detailedMessage.dwPersons">{{person.personName}}; </span>
    </div>
  </div>
</div>
<div *ngIf="detailedMessage != undefined" class="messages">
  <div class="p-grid p-flex-column">
    <div class="p-col" *ngFor="let displayContent of MessageToDisplay; let i=index">
      <app-message-detail [MessageDetail]="displayContent" [ContentNumber]="i"></app-message-detail>
    </div>
  </div>
</div>


