<div class="nadawcy">
  <div class="p-fluid">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">OD:</span>
      <input class="input" type="text" pInputText [disabled]="true" />
    </div>
  </div>
</div>

<div class="odbiorcy_do">
  <div class="p-fluid">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">DO:</span>
      <input class="input" type="text" pInputText [disabled]="true" />
    </div>
  </div>
</div>

<div class="odbiorcy_dw">
  <div class="p-fluid">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">DW:</span>
      <input class="input" type="text" pInputText [disabled]="true" />
    </div>
  </div>
</div>




