<p-toolbar>
  <div class="p-toolbar-group-left">
    <div class="p-text-bold">DANE PROJEKTU - NUMER PROJEKTU</div>
  </div>
  <div class="p-toolbar-group-right">


   <button *ngFor="let department of department_list" pButton pRipple type="button" label={{department.name}} class="p-button-text" (click)="setHeaderBranza(department.id)"></button>



    <button pButton pRipple type="button" icon={{ikonka}} class="p-button-text" (click)="add_department = !add_department;ikonka_change()"></button>
    <div *ngIf="add_department">
      <input type="text" pInputText />
      <button label="Dodaj" pButton type="button" icon="pi pi-check" iconPos="left" class="size" (click)="add_department = !add_department;ikonka_change()"></button>
    </div>
  </div>
</p-toolbar>


<div class="lewy_panel">
  <div class="header_branza">{{header_department}}</div>
  <p-panelMenu id="menuBranz" [model]="menu_lewe" [style]="{'width':'300px'}"></p-panelMenu>
</div>

<div class="prawy_panel">
  <div class="p-grid">
    <div class="p-col">
      <div class="p-shadow-1">
        <p-panel header="Narzędzia">
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <p-button label="Wiadomości" icon="pi pi-envelope" styleClass="p-button-warning" badge="2" badgeClass="p-badge-danger"></p-button>
            </div>
            <div class="p-col">
              <p-button label="Kalendarz" icon="pi pi-calendar-times" styleClass="p-button-info"></p-button>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>

<div class="messages">
  <app-messages></app-messages>
</div>
