<p-toolbar>
  <div class="p-toolbar-group-left">
    <div class="p-text-bold">
      <p-button label="{{ProjectHeader?.name}} - {{ProjectHeader?.number}}" [disabled]=true styleClass="p-button-link"></p-button><p-button label="/" [disabled]=true styleClass="p-button-link"></p-button>
      <p-button label="{{selectedButton}}" [disabled]=true styleClass="p-button-link"></p-button>
      <span *ngIf="optionButton">
  <p-button label="/" [disabled]=true styleClass="p-button-link"></p-button>
  <p-button label="{{selectedSection?.section}}" styleClass="p-button-link" (onClick)="changeSection.toggle($event)"></p-button><p-button label="/" [disabled]=true styleClass="p-button-link"></p-button>
  <p-button label="{{selectedDepartment?.name}}" styleClass="p-button-link" (onClick)="changeDepartment.toggle($event)"></p-button>
      </span>
    </div>
  </div>
  <div class="p-toolbar-group-right">

    <p-overlayPanel #changeSection>
      <div *ngFor="let section of sectionDepartment_list">
        <p-button label="{{section.section}}" styleClass="p-button-link" (onClick)="changeSection.hide(); changeSelectedSection(section)"></p-button>
      </div>
    </p-overlayPanel>

    <p-overlayPanel #changeDepartment>
      <div *ngFor="let department of department_list">
        <p-button label="{{department.name}}" styleClass="p-button-link" (onClick)="changeDepartment.hide(); changeSelectedDepartment(department)"></p-button>
      </div>
    </p-overlayPanel>


    <button pButton pRipple type="button" label="Projektowanie" class="p-button-text" (click)="OpenLink('project-work'); setProjectWork()"></button>
    <button pButton pRipple type="button" label="Dokumentacja" class="p-button-text" (click)="OpenLink('project-doc'); setProjectDocumentation()"></button>
    <button pButton pRipple type="button" label="Harmonogram" class="p-button-text" (click)="OpenLink('project-schedule'); setProjectSchedule()"></button>



    <!--<button pButton pRipple type="button" icon={{ikonka}} class="p-button-text" (click)="add_department = !add_department;ikonka_change()"></button>
  <div *ngIf="add_department">
    <input type="text" pInputText />
    <button label="Dodaj" pButton type="button" icon="pi pi-check" iconPos="left" class="size" (click)="add_department = !add_department;ikonka_change()"></button>
  </div>-->
  </div>
</p-toolbar>


<div class="lewy_panel">
  <div class="header_branza">{{header_department}}</div>
  <p-panelMenu id="menuBranz" [model]="menu_lewe" [style]="{'width':'300px'}"></p-panelMenu>
</div>

<div class="prawy_panel">
  <div class="p-grid">
    <div class="p-col">
      <div class="p-shadow-1">
        <p-panel header="Narzędzia">
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <span><button pButton type="button" class="p-button-text" label="Wiadomości" icon="pi pi-envelope" badge="2" (click)="OpenLink('messages/ReceivedMessages')"></button></span>
            </div>
            <div class="p-col">
              <button pButton type="button" class="p-button-text" label="Kalendarz" (click)="OpenLink('personalCalendar')" icon="pi pi-calendar-times"></button>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>

<div class="messages">
  <router-outlet></router-outlet>
</div>
