<div class="card">
  <p-table [value]="messages" selectionMode="single" [(selection)]="selectedMessage" dataKey="id" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Od</th>
        <th>Tytuł</th>
        <th>Data</th>
        <th>Kategoria</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-message>
      <tr [pSelectableRow]="message">
        <td></td>
        <td>{{message.title}}</td>
        <td>{{message.addingDate}}</td>
        <td>{{message.id}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
