<div class="card">
  <p-table [value]="ReceivedMessages" selectionMode="single" [(selection)]="selectedMessage" dataKey="id" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Od</th>
        <th>Tytuł</th>
        <th>Data</th>
        <th>Kategoria</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ReceivedMessages>
      <tr [pSelectableRow]="ReceivedMessages">
        <td><span [ngClass]="ReceivedMessages.opened == false ? 'opened' : 'unopened'">{{ReceivedMessages.dataMessages.personName}} {{ReceivedMessages.dataMessages.personLastName}}</span> </td>
        <td><span [ngClass]="ReceivedMessages.opened == false ? 'opened' : 'unopened'">{{ReceivedMessages.dataMessages.header.title}}</span></td>
        <td><span [ngClass]="ReceivedMessages.opened == false ? 'opened' : 'unopened'">{{ReceivedMessages.dataMessages.header.timestamp}}</span></td>
        <td><span [ngClass]="ReceivedMessages.opened == false ? 'opened' : 'unopened'">{{ReceivedMessages.category}}</span></td>
      </tr>
    </ng-template>
  </p-table>
</div>
