
<app-paginator (newPaginator)="filterMessages($event)" [totalMessages]="totalMessages"></app-paginator>

<div class="card">
  <p-table [value]="ReceivedMessages" selectionMode="single" [(selection)]="selectedMessage" styleClass="p-datatable-sm" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Od (Ostatnia odpowiedź)</th>
        <th>Tytuł</th>
        <th>Data</th>
        <th>Kategoria</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ReceivedMessage>
      <tr [pSelectableRow]="ReceivedMessage">
        <td><span *ngFor="let person of ReceivedMessage.toPersons" [ngClass]="ReceivedMessage.opened == false ? 'opened' : 'unopened'">{{person.personName}}</span> </td>
        <td><span [ngClass]="ReceivedMessage.opened == false ? 'opened' : 'unopened'">{{ReceivedMessage.title}}</span></td>
        <td><span [ngClass]="ReceivedMessage.opened == false ? 'opened' : 'unopened'">{{ReceivedMessage.timestamp}}</span></td>
        <td><span [ngClass]="ReceivedMessage.opened == false ? 'opened' : 'unopened'">{{ReceivedMessage.category.category}}</span></td>
      </tr>
    </ng-template>
  </p-table>
</div>
