<div class="card">
  <div class="p-fluid">
    <div class="p-field">
      <label for="title_message">Tytuł wiadomości:</label>
      <input  [(ngModel)]="Header" placeholder="Tytuł" id="title_message" type="text" pInputText>
    </div>
  </div>
</div>


<div class="card">
  <div class="p-fluid">
    <div class="p-field">
      <label for="title_message">Treść wiadomości:</label>
      <p-editor [style]="{'height':'320px'}"></p-editor>
  </div>
</div>


<div class="p-fluid">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <span class="auto_complete">
      <p-autoComplete placeholder="Odbiorcy"  [(ngModel)]="personToSend" [suggestions]="personSuggest" (completeMethod)="searchPersonSuggest($event)" [multiple]="true" field="personName">
      </p-autoComplete>
    </span>
  </div>
</div>

<div class="p-fluid">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <span class="auto_complete">
      <p-autoComplete placeholder="Do wiadomości" [(ngModel)]="personToSendDW" [suggestions]="personSuggest" (completeMethod)="searchPersonSuggest($event)" [multiple]="true" field="personName">
      </p-autoComplete>
    </span>
  </div>
</div>

<div class="upload_files">
  <span>Załączniki:</span>
  <p-fileUpload #fileUpload name="files[]" (onSelect)="onSelect($event)"
                [multiple]="true" [maxFileSize]="1000000" chooseLabel="Dodaj pliki" uploadLabel="Załącz pliki" cancelLabel="Anuluj">
    <ng-template pTemplate="toolbar">

    </ng-template>
    <ng-template let-file pTemplate="file">
      <div>
        <div>{{file.name}} - {{file.size}}</div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </ng-template>
  </p-fileUpload>
</div>



<div class="send">
  <button pButton icon="pi pi-send" iconPos="left" type="button" class="p-button-rounded" label="Wyślij" (click)="send()"></button>
</div>

<p-toast position="bottom-center"></p-toast>
