

<title>IntDMP</title>
<h1>{{title}}</h1>
<p>{{time | date:"dd MMM YYYY - hh:mm"}}</p>


<div>
  <button name="logowanie" (click)="login_logout_function()" pButton pRipple type="button" label={{login_label}} class="p-button-raised p-button-text"></button>
  <button name="reset" (click)="OpenLink('reset')" pButton pRipple type="button" label="Reset" class="p-button-raised p-button-text"></button>
  <button name="projects" (click)="OpenLink('projects')" pButton pRipple type="button" label="Projects" class="p-button-raised p-button-text"></button>
</div>

<div *ngIf="UserInfo.length>1">Zalogowano jako: {{UserInfo}}</div>



<div class="app">
  <router-outlet></router-outlet>
</div>


