

<title>IntDMP</title>
<h1>{{title}}</h1>
<p>Data i godzina: {{time | date:"dd MMM YYYY - hh:mm"}}</p>


<div>
  <button name="logowanie" (click)="OpenLink('app-objekty')" pButton pRipple type="button" label="Zaloguj" class="p-button-raised p-button-text"></button>
  <button name="reset" (click)="OpenLink('reset')" pButton pRipple type="button" label="Reset" class="p-button-raised p-button-text"></button>
</div>

<router-outlet></router-outlet>

<div>
  <app-projekt-navi></app-projekt-navi>
</div>




