

<h2>Projekty:</h2>
<div class="lista_lewa">
  <ul class="projekty">
    <li *ngFor="let projekt of projekty">
      {{projekt.name}} <span> - </span> {{projekt.number}}
    <span class="button">
      <span class="p-buttonset">
        <button pButton pRipple class="p-button-raised p-button-sm" type="button" label="Szczegóły" (click)="showDialog(); getOneProjekt(projekt.id)">
        </button>
        <button pButton pRipple class="p-button-raised p-button-sm" type="button" label="Otwórz" (click)="openProject('projekt-navi', projekt.id)">
        </button>
      </span>
    </span>
    </li>
  </ul>
</div>

<div class="clear"><span>Numer: </span></div>
<div><span>Nazwa: </span></div>
<div>
  <label>
    Projekt name:
    <input #ProjektName />
  </label>
  <div>
    Projekt numer:
    <input #ProjektNumer />
  </div>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="button1" (click)="add(ProjektName.value, ProjektNumer.value); ProjektName.value=''; ProjektNumer.value=''">
    Dodaj
  </button>
</div>


<p-dialog header="Opis projektu" [(visible)]="display" [style]="{width: '50vw'}">
  {{oneprojekt_detail.description}}
</p-dialog>





