<span>
    <span class="p-input-icon-left search">
      <i class="pi pi-search"></i>
      <input pInputText type="text" placeholder="Search (In Titles)" [(ngModel)]="searchText" (ngModelChange)="setNewSearchText(searchText)">
    </span>
    <span class="categories">
      <p-multiSelect [options]="categories" [(ngModel)]="selectedCategories" (ngModelChange)="setNewSearchCategories(selectedCategories)" optionLabel="category" display="chip" defaultLabel="Select Categories"></p-multiSelect>
    </span>
  <span>
    <mat-paginator [length]="totalMessages"
                   [pageSize]="PaginatorFilter.pageSize"
                   [pageIndex]="PaginatorFilter.pageIndex"
                   [pageSizeOptions]="[2, 25, 50]"
                   [showFirstLastButtons]="true"
                   (page)="setNewPaginator($event)">
    </mat-paginator>
  </span>
</span>
