

<nav mat-tab-nav-bar animationDuration="500ms">
  <a mat-tab-link (click)="OpenLink('ReceivedMessages')" class="list_messages">
      <i class="pi pi-inbox"></i>
      &nbsp;Wiadomości
  </a>
  <a mat-tab-link (click)="OpenLink('SentMessages')" class="list_messages">
    <i class="pi pi-send"></i>
    &nbsp;Wysłane wiadomości</a>
  <a mat-tab-link (click)="OpenLink('NewMessage')" class="list_messages">
    <i class="pi pi-pencil"></i>
    &nbsp;Nowa wiadomość
  </a>
  <a mat-tab-link (click)="OpenLink('PinMessages')" class="list_messages">
    <i class="pi pi-tags"></i>
    &nbsp;Przypięte wiadomości
  </a>
  <a mat-tab-link (click)="OpenLink('CustomMessages')" class="list_messages">
    <i class="pi pi-users"></i>
    &nbsp;Książka adresowa
  </a>
  <a mat-tab-link (click)="OpenLink('OneMessage')" class="list_messages">
    <i class="pi pi-inbox"></i>
    &nbsp;Wiadomości
  </a>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

