

<mat-tab-group text="accent" color="accent" animationDuration="500ms">
  <mat-tab label="test"><app-one-message></app-one-message></mat-tab>
  <mat-tab label="Wiadomości"><app-all-messages></app-all-messages></mat-tab>
  <mat-tab label="Wysłane wiadomości"><app-sent-messages></app-sent-messages></mat-tab>
  <mat-tab label="Przypięte wiadomości"><app-pin-messages></app-pin-messages></mat-tab>
  <mat-tab label="Nowa wiadomość"><app-new-message></app-new-message></mat-tab>
  <mat-tab label="Książka adresowa"><app-custom-messages></app-custom-messages></mat-tab>
</mat-tab-group>

